$primary-yellow: #f7c33f;
$primary-blue: #062265;

* {
	box-sizing: border-box;
}

body {
	font-family: "Open Sans", sans-serif;
	margin: 0;
}


@keyframes foldCubeAngle {

	0%,
	10% {
		transform: perspective(140px) rotateX(-180deg);
		opacity: 0;
	}

	25%,
	75% {
		transform: perspective(140px) rotateX(0deg);
		opacity: 1;
	}

	90%,
	100% {
		transform: perspective(140px) rotateY(180deg);
		opacity: 0;
	}
}

@keyframes spinner {
	0% {
		-webkit-box-shadow: 0 0 0 0 #c7c1ea;
		box-shadow: 0 0 0 0 #c7c1ea;
	}

	70% {
		-webkit-box-shadow: 0 0 0 20px rgba(1, 93, 199, 0);
		box-shadow: 0 0 0 20px rgba(1, 93, 199, 0);
	}

	100% {
		-webkit-box-shadow: 0 0 0 0 rgba(1, 93, 199, 0);
		box-shadow: 0 0 0 0 rgba(1, 93, 199, 0);
	}
}

// Start Preloader

.preloader {
	background-color: #fff;
	width: 100%;
	height: 100%;
	position: fixed;
	z-index: 1000;

	.folding-cube {
		margin: 20px auto;
		width: 60px;
		height: 60px;
		position: absolute;
		left: calc(50% - 30px);
		top: calc(50% - 50px);
		transform: rotateZ(45deg);

		.load-cube {
			float: left;
			width: 50%;
			height: 50%;
			position: relative;
			transform: scale(1.1);

			&:before {
				content: '';
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
				background-color: $primary-yellow;
				animation: foldCubeAngle 2.4s infinite linear both;
				transform-origin: 100% 100%;
			}
		}

		.cube2 {
			transform: scale(1.1) rotateZ(90deg);

			&:before {
				animation-delay: 0.3s;
			}
		}

		.cube3 {
			transform: scale(1.1) rotateZ(180deg);

			&:before {
				animation-delay: 0.6s;
			}
		}

		.cube4 {
			transform: scale(1.1) rotateZ(270deg);

			&:before {
				animation-delay: 0.9s;
			}
		}
	}
}


// Start Navigation Bar

.navbar {
	padding-top: 0 !important;

	.navbar-toggler {
		border: none !important;
		background-color: $primary-yellow;

		&:focus {
			box-shadow: none !important;
		}
	}

	.nav-item {
		.nav-link {
			color: #666;
			padding: 40px 15px;
		}

		&:hover {
			.nav-link {
				color: $primary-yellow  !important;
			}
		}
	}

	.side-bar {

		// display: none;
		.close-btn {
			left: -20px;
			top: 20px;
			background-color: #fff;
			border-radius: 50%;
			cursor: pointer;
		}

		transition: all 0.5s;
		width: 278px;
		height: 100vh;
		border: 1px solid lightgray;
		right: -300px;
		top: 0;
		z-index: 2;
		background-color: white;

		.small-nav {
			display: flex;
			flex-direction: column;
			list-style: none;
			padding: 0;

			.small-nav-item {
				padding: 10px 20px;
				border-bottom: 1px solid lightgray;

				&:hover{
					.small-nav-link{
						color: $primary-yellow !important;
					}
				}

				.small-nav-link {
					color: #666 !important;
					text-decoration: none;
					font-weight: 600;
					color: black;
				}
			}
		}
	}

	.show {
		right: 0;
	}

	.header-search-form-wrapper {
		.fi::before {
			font-size: 1rem !important;
			margin-left: 0 !important;
		}

		position: relative;
		padding-top: 5px;

		.search-toggle-btn {
			background: white;
			padding: 0;
			border: 0;
			outline: 0;
		}

		.header-search-form {
			position: absolute;
			width: 250px;
			right: -25px;
			top: 75px;
			opacity: 0;
			visibility: hidden;
			transition: all 0.5s;
			box-shadow: 0px 15px 60px -19px black;
			color: #666;

			input {
				border: none !important;
				border-radius: 0 !important;
				outline: none !important;
				padding: 15px 20px;
				font-size: 14px;
			}

			input:focus {
				outline: none !important;
				border: none !important;
				box-shadow: none !important;
			}

			button {
				padding: 15px;
			}
		}

		.header-search-content-toggle {
			opacity: 1;
			visibility: visible;
			right: 0;
			z-index: 99;
		}
	}
}

.header-style{
	position: relative !important;
}

.site-header{
	position: absolute;
    z-index: 120;
    width: 100%;
    background: rgba(255, 255, 255, .05);
}

.sticky-header{
	width: 100%;
	position: fixed;
	left: 0;
	z-index: 9999;
	top: -200px;
	opacity: 0;
	transition: all .7s;
}

.sticky-on{
	opacity: 1;
    top: 0;
    background: #fff !important;
}

@media (max-width: 450px) {
	.header-search-form-wrapper {
		display: none;
	}
}

// Start Hero

.section-padding {
	padding: 120px 0px;
}

#hero {

	.site-title {
		h2 {
			color: $primary-blue;
			font-size: 60px;
			margin: 0 0 0.45em 0.45em;
			font-weight: 500;
			line-height: 1.1;
			font-family: "Rubik", sans-serif;

			span {
				color: $primary-yellow;
				font-size: 60px;
				font-weight: 500;
				line-height: 1.1;
			}
		}

	}

	.site-subtitle {
		p {
			color: #666;
			margin-bottom: 10px;
			margin-left: 30px;
			line-height: 1.6em;
			font-size: 16px;
			font-weight: 400;
			font-family: "Rubik", sans-serif;
		}
	}


	.site-img {
		img {
			max-width: 100%;
		}
	}
}

.site-btns {
	margin: 30px 0 0 0;

	a {
		padding: 13px 38px;
		color: $primary-blue;
		font-weight: 600;
		transition: all 0.4s;
		font-family: "Rubik", sans-serif;

		&:hover {
			color: white;
		}

		&:nth-child(2) {
			&:hover {
				background-color: $primary-yellow;
				border: 1px solid $primary-yellow  !important;
			}
		}
	}
}

// Start Mission

.section-title {
	position: relative;
	max-width: 500px;
	margin: auto;
	margin-bottom: 70px;

	span {
		font-size: 18px;
		font-weight: 400;
		color: $primary-yellow;
		display: block;
		margin-bottom: 10px;
		font-family: "Rubik", sans-serif;
	}

	h2 {
		font-size: 36px;
		font-weight: 700;
		margin: 0;
		display: inline-block;
		position: relative;
		line-height: 50px;
		font-family: "Rubik", sans-serif;
		color: $primary-blue;
	}
}

#mission {
	background: #fcfcfc;

	.mission-card {
		.mission-img {
			img {
				max-width: 1005;
			}
		}

		.mission-content {
			h2 {
				margin-top: 30px;
				font-size: 22px;
				font-weight: 500;
				margin-bottom: 20px;
				font-family: "Rubik", sans-serif;
				color: $primary-blue;
			}

			p {
				max-width: 250px;
				margin: auto;
				color: #777;
				line-height: 1.6em;
				font-size: 16px;
				font-weight: 400;
			}
		}
	}
}


// Start About

#about {
	.about-img {
		img {
			max-width: 100%;
		}
	}

	.about-content {
		p {
			color: #777;
		}
	}
}


// Start Causes

#causes {
	background: #fcfcfc;

	.cause-card {
		.cause-img {
			img {
				max-width: 100%;
			}
		}

		.cause-content {
			padding: 30px;

			.cause-title {
				h2 {
					font-size: 22px;
					line-height: 35px;
					margin-top: 0;
					font-weight: 600;
					font-family: "Rubik", sans-serif;
					color: $primary-blue;

				}
			}

		}

		.cause-btns {
			a {
				text-align: center;
				width: 100%;
				height: 50px;
				line-height: 50px;
				border-top: 1px solid #eee;
				color: #333;
				font-weight: 500;
				border-radius: 0 !important;
				display: flex;
				align-items: center;
				justify-content: center;

				&:nth-child(2) {
					background-image: linear-gradient(to right, #00a7d5, #27cdca);
					color: white !important;
				}
			}
		}
	}

	.owl-nav {

		button {
			background: transparent;
			color: $primary-yellow;
			font-size: 14px;
			margin: 5px;
			padding: 4px 7px;
			display: inline-block;
			cursor: pointer;
			border-radius: 3px;
			position: absolute;
			left: -70px;
			top: 50%;
			transform: translateY(-50%);
			height: 50px;
			width: 50px;
			line-height: 40px;
			text-align: center;
			transition: all .3s;
			border: 1px solid $primary-yellow;

			&:nth-child(2) {
				right: -70px;
				left: auto !important;
			}

			&:hover {
				background: $primary-yellow;
				color: white;
			}
		}
	}
}

.raise-goal {
	font-size: 14px;

	span {
		font-weight: 700;
	}
}


// Start Counter

#counter {
	border-bottom: 1px solid #f5f5f5;

	.donation h2 {
		color: #00c0d6;
	}

	.fund-raise h2 {
		color: $primary-yellow;
	}

	.volunteers h2 {
		color: #8768f7;
	}

	.projects h2 {
		color: #fc83bf;
	}

	.counter {
		h2 {
			font-size: 60px;
			font-weight: 600;
			margin: 0;
			line-height: 10px;
			margin-top: 8px;
			padding-bottom: 15px;
			font-family: "Rubik", sans-serif;
		}
	}
}


// Start Team

#team {
	.member-card {
		position: relative;
		transition: all .3s;

		.member-img {
			img {
				width: 100%;
			}
		}

		.member-info {
			position: absolute;
			right: 0;
			bottom: -45px;
			width: 70%;
			text-align: center;
			padding: 30px;
			overflow: hidden;
			background: white;
			transition: all .3s;

			.member {
				margin-bottom: -50px;
				transition: all .3s;

				h2 {
					font-size: 24px;
					font-weight: 500;
					margin-top: 0;
					font-family: "Rubik", sans-serif;
					color: $primary-blue;
				}

				span {
					margin-bottom: 28px;
					display: block;
					transition: all .3s;
				}

				.member-social-list {
					padding: 0;
					margin: 0;
					list-style: none;
					display: flex;
					justify-content: center;
					margin-top: 20px;

					.member-social-list-item {
						margin-right: 25px;

						a {
							text-decoration: none;
							color: $primary-blue;
						}
					}
				}
			}
		}

		&:hover {
			.member-info {
				background-color: $primary-yellow;
				box-shadow: none !important;

				.member {
					margin-bottom: 0;
				}
			}
		}
	}
}


// Start Become A Volunteer

#become-volunteer {
	padding-top: 45px;

	.world-section {
		padding: 100px;
		display: flex;
		justify-content: space-between;
		background: url(../images/world.png) no-repeat center center / cover;
		align-items: center;
		position: relative;
		z-index: 1;

		h2 {
			max-width: 515px;
			font-size: 45px;
			font-weight: 500;
			line-height: 60px;
			margin: 0;
			font-family: "Rubik", sans-serif;
			color: $primary-blue;
		}

		a {
			background-color: $primary-yellow;
			display: flex;
			align-items: center;
			padding: 15px 20px;
			border-radius: 5px;
			color: $primary-blue;
			font-weight: 600;
			text-decoration: none;

			img {
				margin-right: 10px;
				width: 13px;
				margin-top: -2px;
				max-width: 100%;
			}
		}

		&::before {
			content: "";
			position: absolute;
			left: 0;
			top: 0;
			width: 100%;
			height: 100%;
			z-index: -1;
			background: rgba(254, 242, 211, .85) !important;
		}
	}
}


// Start Events

#events {
	.event-card {
		.event-img {
			position: relative;

			img {
				width: 100%;
				max-width: 100%;
			}


		}

		.event-content {
			background: white;
			transition: all .3s;
			padding: 30px;
			width: 95%;
			left: 50%;
			transform: translateX(-50%);
			position: relative;
			margin-top: -50px;

			h2 {
				margin-top: 0;
				font-size: 22px;
				font-weight: 600;
				margin-bottom: 15px;
				font-family: "Rubik", sans-serif;
				color: $primary-blue;
			}
		}
	}
}

.date-badge {
	position: absolute;
	top: -8px;
	right: 15px;
	background: url(../images/event/img-1.png) no-repeat center center / cover;
	width: 60px;
	height: 85px;
	text-align: center;
	padding-top: 4px;
	padding-right: 8px;

	span {
		font-size: 25px;
		font-weight: 600;
		color: white;
		font-family: "Rubik", sans-serif;

		&:nth-child(2) {
			font-size: 16px;
			font-weight: 400;
		}
	}
}

// Start JoinUs

#join-us {
	padding: 100px;
	display: flex;
	justify-content: space-between;
	background: url(../images/cta.jpg) no-repeat center center / cover;
	align-items: center;
	position: relative;
	z-index: 1;

	.join-us-content {
		max-width: 715px;
		margin: auto;
		text-align: center;

		h2 {
			font-size: 48px;
			color: white;
			margin-top: 0;
			font-family: "Rubik", sans-serif;
		}

		p {
			color: white;
			margin-bottom: 40px;
			margin-top: 20px;
			line-height: 1.6em;
			font-size: 16px;
			font-weight: 400;
		}

		.site-btns {
			.donate-btn:hover {
				background: transparent !important;
				border: 1px solid white;
			}

			.join-us-btn {
				color: white;
				border: 1px solid white;
			}

			.join-us-btn:hover {
				background: white;
				color: black;
				border: 1px solid white !important;
			}
		}
	}

	&::before {
		position: absolute;
		content: "";
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;
		z-index: -1;
		background-color: rgba(247, 195, 63, .85);
	}
}


// Start Blog

#blog {
	.blog {
		.blog-img {
			img {
				max-width: 100%;
			}
		}

		&:hover {
			.blog-content {
				background: $primary-yellow;

				h2 {
					&::before {
						background: $primary-blue;
					}
				}
			}
		}

		.blog-content {
			background: white;
			transition: all .3s;
			padding: 30px;
			width: 76%;
			left: 45%;
			transform: translateX(-50%);
			position: relative;
			margin-top: -60px;
			border-radius: 5px;

			span {
				transition: all .3s;
				font-size: 13px;
				color: #999;
				padding-left: 20px;
			}

			h2 {
				font-size: 24px;
				font-weight: 600;
				margin-bottom: 0;
				margin-top: 10px;
				padding-left: 20px;
				position: relative;
				font-family: "Rubik", sans-serif;
				color: $primary-blue;

				&::before {
					position: absolute;
					content: "";
					left: 0;
					top: 7px;
					width: 10px;
					height: 10px;
					background: $primary-yellow;
					border-radius: 50%;
					transition: all .3s;

				}
			}
		}
	}
}


// Start Subscribe

#subscribe {
	background: $primary-blue;
	text-align: center;
	padding: 100px 0;

	h3 {
		font-size: 1.875rem;
		font-weight: bold;
		margin: 0 0 1.5em;
		line-height: 1.2em;
		color: white;
		font-family: "Rubik", sans-serif;

	}

	.subscribe-form {
		form {
			max-width: 425px;
			margin: 0 auto;

			input {
				height: 55px;
				border: 0;
				outline: 0;
				border-radius: 55px;
				padding: 15px 15px 15px 25px;
				box-shadow: 0px 5px 15px 0px rgb(68, 68, 68 / 10%);
			}

			button {
				background: $primary-yellow;
				width: 150px;
				height: 45px;
				font-weight: 600;
				text-align: center;
				color: white;
				border: 0;
				outline: 0;
				position: absolute;
				right: 5px;
				top: 5px;
				border-radius: 45px;
			}
		}
	}
}


#footer {
	background: $primary-blue;
	position: relative;
	font-size: 15px;
	overflow: hidden;

	.upper-footer {
		padding: 0 0 90px;

		.about-widget {
			.logo {
				max-width: 180px;

				img {
					max-width: 100%;
				}
			}

			p {
				margin-bottom: 0.8em;
				line-height: 1.8em;
				color: white;
				font-size: 16px;
				font-weight: 400;
			}

			.about-widget-social-list {
				overflow: hidden;
				padding-top: 10px;
				list-style: none;
				padding-left: 0;
				margin: 0;
				display: flex;

				.about-widget-social-list-item {
					margin-right: 15px !important;
					font-size: 22px;
					transition: all .3s;

					a {
						color: white;
						text-decoration: none;
					}

					&:hover{
						transition: all .3s;
						a{
							transition: all .3s;
							color: $primary-yellow;
						}
					}
				}
			}
		}

		.news-widget {
			padding-left: 0;
			overflow: hidden;

			.news-wrap {
				overflow: hidden;
				margin-bottom: 20px;

				.news-img {
					img {
						max-width: 100%;
					}
				}

				.news-content {
					overflow: hidden;
					padding-left: 10px;

					h3 {
						color: white;
						font-size: 16px;
						font-weight: 600;
						margin-top: -5px;
						line-height: 25px;
						margin-bottom: 0px;
						font-family: "Open Sans", sans-serif;
					}

					span {
						color: #ccc;
						font-size: 12px;
					}
				}
			}
		}

		.links-widget {
			padding-left: 20px;
		}
	}

	.lower-footer {
		text-align: center;
		position: relative;
		background: #011b58;

		.copy-right {
			padding: 20px 0;
			margin: 0;
			color: white;
		}
	}
}

.widget {
	overflow: hidden;
}

.widget-title {
	margin-bottom: 30px;

	h3 {
		font-size: 23px;
		font-weight: bold;
		color: white;
		margin: 0;
		text-transform: capitalize;
		position: relative;
		font-family: "Rubik", sans-serif;
	}
}

.widget-list {
	list-style: none;
	padding-left: 0;
	margin: 0;

	.widget-list-item {
		color: white;

		a {
			text-decoration: none;
			color: white;
		}

		&:hover{
			a{
				transition: all .3s;
				color: $primary-yellow;
			}
		}
	}
}


// ABOUT Page


// Start Breadcrumb

.breadcrumb {
	// padding-top: 200px !important;
	background: url(../images/breadcumb/img-1.jpg) no-repeat center center / cover !important;
	min-height: 350px;
	position: relative;
	display: flex;
	justify-content: center;
	flex-direction: column;
	z-index: 1;

	.breadcrumb-wrap {
		text-align: center;

		h2 {
			font-size: 40px;
			color: white;
			line-height: 60px;
			margin-top: -10px;
			font-family: "Rubik", sans-serif;
		}

		.breadcrumb-list {
			padding-left: 0;
			margin: 0;

			.breadcrumb-list-item {

				display: inline-block;
				padding: 0px 5px;

				a {
					font-size: 18px;
					transition: all .3s;
					text-decoration: none;


				}

				&:first-child {
					color: white;

					a {
						color: white;

						&::after {
							content: "/";
							position: relative;
							left: 7px;
						}
					}
				}

				&:nth-child(2) {
					color: $primary-yellow;

					a {
						color: $primary-yellow;
					}
				}
			}
		}
	}

	&::before {
		content: "";
		position: absolute;
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;
		background: rgba(0, 0, 0, .7);
		z-index: -1;
	}
}


// Start About video

#about-video {
	padding-top: 130px;

	.about-video {
		padding-bottom: 100px;
		border-bottom: 1px solid #f5f5f5;

		.about-video-img {
			position: relative;

			&::before {
				content: "";
				position: absolute;
				left: 0;
				top: 0;
				width: 100%;
				height: 100%;
				background: rgba(0, 0, 0, .5);
				z-index: 1;
			}

			img {
				width: 100%;
				max-width: 100%;
			}

			.video-holder {
				a {
					position: absolute;
					left: 50%;
					top: 50%;
					transform: translate(-50%, -50%);
					background-color: rgba(255, 255, 255, .5);
					width: 83px;
					height: 83px;
					border-radius: 83px;
					display: inline-block;
					animation: spinner 2s infinite;
					z-index: 99;
					border: 1px solid white;

					&::before {
						content: "";
						width: 0px;
						height: 0px;
						border-top: 15px solid transparent;
						border-bottom: 15px solid transparent;
						border-left: 20px solid white;
						position: absolute;
						left: 50%;
						top: 50%;
						transform: translate(-50%, -50%);
					}
				}
			}

			&::after {
				content: "";
				position: absolute;
				left: -30px;
				top: -30px;
				width: 108%;
				height: 56%;
				background: $primary-yellow;
				z-index: -1;
			}
		}

		h2 {
			font-size: 36px;
			max-width: 625px;
			font-weight: 700;
			text-align: center;
			margin: auto;
			line-height: 55px;
			margin-top: 45px;
			font-family: "Rubik", sans-serif;
			color: $primary-blue;

			span {
				color: $primary-yellow;

			}
		}
	}
}


// Start About Mission
.about-mission {
	background: white !important;
}


// Start About Help
.about-bg {
	background: #fcfcfc;
}


// Start About Counter

.about-counter {
	background: url(../images/counter/img-1.png) no-repeat center center / cover;
	padding: 100px 0;
	position: relative;

	&::before {
		content: "";
		position: absolute;
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;
		background: rgba(6, 34, 101, .85);
	}

	.counter {
		p {
			font-size: 18px;
			padding-top: 5px;
			margin-bottom: 0px;
		}
	}
}


.site-sidebar {
	.sidebar-item {
		border: 1px solid #ebebeb;
		padding: 30px;

		h3 {
			font-size: 1.125rem;
			font-weight: 600;
			border-bottom: 1px solid #ebebeb;
			margin: 0 -30px 30px;
			padding: 0 0 30px 30px;
			position: relative;
			text-transform: capitalize;
			font-family: 'Rubik', sans-serif;
			color: $primary-blue;
		}

		.sidebar-form {
			input {
				height: 50px;
				font-size: 1rem;
				border: 1px solid #ebebeb;
				padding: 6px 50px 6px 20px;
				border-radius: 0;
				box-shadow: none;
				transition: all 0.3s;
			}

			button {
				background: #f7c33f;
				font-size: 1.25rem;
				color: #333;
				border: 0;
				outline: 0;
				width: 50px;
				height: 50px;
				line-height: 50px;
				position: absolute;
				right: 0;
				top: 0;
			}
		}
	}

	.sidebar-categories {
		margin-top: 65px;

		.sidebar-category-list {
			list-style: none;
			padding-left: 0;
			margin: 0;

			.sidebar-category-list-item {
				font-size: 0.9375rem;
				position: relative;
				padding-left: 20px;
				padding-bottom: 10px;

				&:hover{
					a{
						transition: all .3s;
						color: $primary-yellow !important;
					}
				}

				a {
					display: block;
					color: #777;
					text-decoration: none;
				}

				&::before{
					content: "";
					background: #bbb;
					width: 6px;
					height: 6px;
					position: absolute;
					left: 0;
					top: 8px;
				}
			}
		}
	}

	.sidebar-recents{
		margin-top: 65px;
		.recent-posts{
			.recent-post{
				display: flex;
				overflow: hidden;
				.recent-post-img{
					width: 68px;

					img{
						max-width: 100%;
					}
				}

				.recent-post-detail{
					width: calc(100% - 68px);
					padding-left: 20px;
					transition: all .3s;
					&:hover{
						a{
							transition: all .3s;
							color: $primary-yellow !important;
						}
					}

					h4{
						font-size: 16px;
						line-height: 1.3em;
						margin: 0 0 0.3em;
						font-family: "Open Sans", sans-serif;
						color: #444444;

						a{
							display: inline-block;
							color: #242f6c;
							text-decoration: none
						}
					}

					span{
						font-size: 14px;
						color: #888;
					}
				}
			}
		}
	}

	.sidebar-tags{
		margin-top: 65px;

		.sidebar-tag-list{
			overflow: hidden;
			list-style: none;
			padding-left: 0;
			margin: 0;
			display: flex;
			flex-wrap: wrap;
			.sidebar-tag-list-item{
				margin: 0 8px 8px 0;
				transition: all .5s;
				&:hover{
					background: $primary-yellow !important;
					a{
						color: white !important;
					}
				}

				a{
					font-size: 15px;
					display: inline-block;
					padding: 10px 18px;
					color: #525252;
					border: 1px solid #ebebeb;
					border-radius: 0;
					text-decoration: none;
				}
			}
		}
	}
}


#cause-single{
	.cause-detail{
		.cause-img{
			img{
				width: 100%;
			}
		}
		.cause-tab{
			padding: 15px 30px;
			border: 1px solid #ebebeb;
			margin-top: 40px;

			.nav-tabs{
				border-bottom: none;
				.active{
						
							background: #f7c33f;
							color: #fff;
							outline: none;
							border: none;
							padding: 10px 15px;
							text-decoration: none;
						
					}
				li{
					a{
						position: relative;
						padding: 10px 15px;
						text-decoration: none;
						display: block;
						width: 160px;
						height: 45px;
						line-height: 24px;
						text-align: center;
						transition: all .5s;
						font-weight: 600;
						margin-right: 10px;
						color: #2d4277;
						border-radius: 40px;
						&:hover{
							background: #f7c33f;
							color: #fff;
							outline: none;
							border: none;
						}
					}
				}
			}

		}
		.cause-tab-text{
			margin-top: 50px;
			.tab-content{
				#Description{
					padding: 15px 30px;
					border: 1px solid #ebebeb;


				}
			}
		}
	}
}


#Comments{
	.comments-title{
		font-size: 30px;
		font-weight: 600;
		margin: 0 0 1.5em;
		font-family: 'Rubik', sans-serif;
		color: #242f6c;
	}

	.comment-list{
		list-style: none;
		padding-left: 0;

		.comment{				
			border: 1px solid #ebebeb;
			padding: 30px;
			margin-bottom: 20px;

			.comment-img{
				border-radius: 50%;
				display: flex;
				align-items: center;
				img{
					border-radius: 50%;
					max-width: 100%;
				}
			}

			.comment-wrap{
				padding-left: 20px;
				.comment-header{
					h4{
						font-size: 1rem;
						font-weight: 600;
						margin: 0 0 1em;
						font-family: 'Rubik', sans-serif;
						color: $primary-blue;

						.comment-date	{
							text-transform: none;
							display: block;
							font-size: 0.875rem;
							color: #666;
							margin-top: 8px;
						
						}
					}
				}
			}
		}
	}

	.comment-respond{
		margin-top: 70px;

		h3{
			font-size: 30px;
			font-weight: 500;
			margin: 0 0 1.5em;
			color: #283a5e;
			font-family: 'Rubik', sans-serif;
		}

		.comment-form{
			textarea{
				padding: 15px;

				background-color: #f8f8f8;
				width: 100%;
				border: 1px solid #f8f8f8;
				margin-bottom: 15px;
				outline: 0;
				box-shadow: none;
				transition: all 0.3s;
			}

			button{
				max-width: 120px;
				background: #f7c33f;
				color: #fff;
				font-weight: 500;
				margin-bottom: 0;
				border: 0;
				border-radius: 50px;
				outline: 0;
				width: 100%;
				height: 50px;
				padding: 6px 15px;
				transition: all 0.3s;
			}
		}
	}
}


.donate{
	h2{
		font-size: 1.125rem;
		font-weight: 600;
		position: relative;
		text-transform: capitalize;
		margin-bottom: 30px;
		margin-top: 0;
		font-family: 'Rubik', sans-serif;
		color: $primary-blue;
	}

	.tab-donation{
		padding: 30px;
		border: 1px solid #ebebeb;
		margin-bottom: 40px;
	}
}

.form-group{
	margin-bottom: 15px;
	
	input,textarea{
		background: transparent;
		width: 100%;
		border: 1px solid #ebebeb;
		padding-left: 15px;
		border-radius: 0;
		box-shadow: none !important;
		color: #525252;
		border-radius: 5px;
	}

	input{
		height: 50px;
	}
}

.case-content{
	.case-text-top{
		padding: 30px;
		h2{
			font-size: 30px;
			margin-bottom: 20px;
			line-height: 35px;
			margin-top: 0;
			font-weight: 600;
			font-family: 'Rubik', sans-serif;
			color: $primary-blue;
		}

		.case-text-content{
			margin-top: 40px;
			p{
				color: #777777;
			}

			h3{
				font-size: 24px;
				font-weight: 500;
				margin-bottom: 20px;
				font-family: 'Rubik', sans-serif;
				color: $primary-blue;
			}

			.case-bottom-list{
				list-style: none;
				padding-left: 0;
				margin: 0;
				.case-bottom-list-item{
					font-size: 0.9375rem;
					position: relative;
					padding-left: 20px;
					padding-bottom: 10px;

					&::before{
						content: "";
						background: #f7c33f;
						width: 6px;
						height: 6px;
						position: absolute;
						left: 0;
						top: 6px;
					}
				}
			}
		}
	}
}


// Event Single

#event-single{
	.event-single{
		.event-single-img{
			position: relative;
			img{
				width: 100%;
			}
		}

		.event-single-content{
			margin-top: 50px;

			h2{
				margin-bottom: 30px;
				font-family: 'Rubik', sans-serif;
				color: $primary-blue;
			}

			p{
				color: #777777;
				line-height: 1.6em;
				font-size: 16px;
				font-weight: 400;
			}
		}

		.event-details-wrap{
			border: 1px solid #ebebeb;
			.nav-tabs{
				border-bottom: none;
				display: flex;
				flex-wrap: nowrap;
				.nav-item{
					margin-bottom: -1px;
					width: 100%;
					.nav-link{
						display: block;
						text-align: center;
						color: #2d4277;
						transition: all .5s;
						font-weight: 700;
						margin-right: 1px;
						border: none;
						border-radius: 0px;
						background: #f6f6f6;
						border-bottom: none;
						border-top: 4px solid transparent;
						line-height: 20px;
						height: 50px;
						position: relative;
						padding: 10px 10px;
						text-decoration: none;
					}
					.nav-link.active{										
						background: #fff;
						outline: none;
						border: none;
						color: #2d4277;
						border-top: 4px solid #f7c33f;
					}
				}
			}

			.event-detail-content{
				padding: 30px;

				#Contact{
					.event-form{
						input,textarea{
							background: transparent;
							width: 100%;
							// height: 50px;
							border: 1px solid #ebebeb;
							padding: 10px;
							box-shadow: none !important;
							color: #525252;
							border-radius: 5px;
						}

						.submit-area{
							button{
								border: none;
								outline: none;
								border-radius: 40px;
								box-shadow: none;
								margin-top: 20px;
								background-color: #f7c33f;
								color: #2d4277;
								font-weight: 700;
								padding: 13px 38px;
								display: inline-block;
								transition: all .3s;

								&:hover{
									color: white !important;
								}
							}
						}
					}
				}
				
			}
		}

	}
}

.contact-map{
	filter: grayscale(100%);
	iframe{
		width: 100%;
		height: 500px;
	}
}

.contact-us-map{
	iframe{
		height: 573px;
	}
}


// Start Donate

#donate{
	.donate-header{
		h2{
			margin-bottom: 50px;
			text-align: center;
			font-size: 36px;
			font-weight: 500;
			margin-top: 0;
			font-family: 'Rubik', sans-serif;
			color: $primary-blue;
		}
	}
}

form{
	.form-btn button{
		max-width: 150px;
		background: #f7c33f;
		color: #242f6c;
		font-weight: 700;
		margin-bottom: 0;
		border: 0;
		border-radius: 50px;
		outline: 0;
		width: 100%;
		height: 50px;
		padding: 6px 15px;
		transition: all 0.3s;
	}
}


// Start Volunteer

#volunteer{
	padding-bottom: 0px;
	.volunteer{
		.volunteer-img{
			padding: 30px;
			img{
				max-width: 100%;
			}
		}

		.volunteer-contact-form{
			max-width: 760px;
			margin: auto;
			padding: 50px 40px;
			background: #fff;
			margin-top: -318px;
			position: relative;
			z-index: 1;

			h2{
				margin-top: 0;
				font-size: 36px;
				text-align: center;
				margin-bottom: 40px;
				font-family: "Rubik",sans-serif;
				color: $primary-blue;
			}

			&::before{
				position: absolute;
				left: -7px;
				bottom: -8px;
				width: 102%;
				height: 47%;
				content: "";
				background: #fbe19f;
				z-index: -1;
			}

			&::after{
				position: absolute;
				left: 0px;
				bottom: 0;
				width: 100%;
				height: 100%;
				content: "";
				background: #fff;
				z-index: -1;
			}
			// .form-group-in{
			// 	position: relative;

			// 	input{
			// 		// opacity: 0;
			// 		// visibility: hidden;
			// 		position: absolute;
			// 	}
			// }

		}
	}
}


// Start Contact Us

#contact-us{
	.contact-us-form{
		margin-bottom: 60px;
		padding: 60px 65px 30px;
		border-radius: 5px;

		h2{
			font-size: 1.875rem;
			font-weight: 500;
			margin: 0 0 1em;
			text-align: center;
			font-family: 'Rubik', sans-serif;
			color: $primary-blue;
		}
	}
}

.info-item{
	padding: 50px 40px;
	margin-bottom: 30px;
	h2{
		font-size: 24px;
		color: #242f6c;
		font-weight: 500;
		margin-top: 0;
		margin-bottom: 25px;
		font-family: 'Rubik', sans-serif;
	}

	.info-wrap{
		.info-icon{
			display: flex;
			justify-content: center;
			width: 90px;
			height: 90px;
			line-height: 115px;
			border-radius: 50%;
			text-align: center;
			margin-right: 20px;
			align-items: center;
			color: #242f6c;
			i{
				font-size: 40px;
				line-height: 90px;
			}

		}
		.contact-address{
			background-image: linear-gradient(#7fedeb, #7fd7ea);
		}

		.contact-mail{
			background-image: linear-gradient(#ffd3b8, #ffc0c6);
		}

		.contact-phone{
			background-image: linear-gradient(#e1b3fe, #b5b3f9);
		}

		.info-text{
			span{
				color: #666666;
				font-size: 18px;
				font-weight: 600;
			}
		}
	}
}


// Start Profile


.post{
	margin-bottom: 40px;
	padding: 30px;
	border: 1px solid #ebebeb;

	.post-info{
		list-style: none;
		overflow: hidden;
		margin-bottom: 25px;
		padding-top: 35px;

		.chat-icon{
			cursor: pointer;
		}

		.post-info-user{
			display: flex;
			align-items: center;
			.user-img{
				border-radius: 50%;
				width: 50px;
				height: 50px;
				img{
					border-radius: 50%;
					max-width: 100%;
				}
			}

			.user-name{
				a{
					text-decoration: none;
					color: #777;
					transition: all .3s;

					&:hover{
						color: $primary-yellow;
					}
				}
			}
		}
	}

	.post-content{
		h3{
			font-family: 'Rubik', sans-serif;
			color: $primary-blue;
			font-size: 1.75rem;
			line-height: 1.2em;
			font-weight: 600;
			margin: -0.27em 0 0.7em;
		}

		p{
			color: #777777;
			line-height: 1.6em;
			font-size: 16px;
			font-weight: 400;
			margin-bottom: 1.5em;
		}
	}

	.owl-nav{
		.owl-prev,.owl-next{
			position: absolute !important;
			top: 50% !important;
			transform: translateY(-50%) !important;
			background: #fff !important;
			color: #666 !important;
			width: 50px !important;
			height: 50px !important;
			line-height: 50px !important;
			padding: 0 !important;
			margin: 0 !important;
			border-radius: 50% !important;
			transition: all 0.3s !important;
			display: inline-block !important;
			cursor: pointer !important;
			transition: all .3s !important;
			span{
				font-size: 20px !important;
			}

			&:hover{
				background: $primary-yellow !important;
				color: white !important;
			}
		}

		.owl-prev{
			left: 15px !important;
		}

		.owl-next{
			right: 15px !important;
		}
	}

}



.top-login-register{
	transition: all .3s;
	&:hover{
		color: $primary-yellow !important;
	}
}


// Start Login and Register

.account-wrapper{

    display: flex;
    flex-wrap: wrap;
    background: #fff;
    margin: auto;
    border-radius: 10px;
    overflow: hidden;
	
	.account-info{
		width: 50%;
		background: $primary-blue;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		min-height: 600px;
		text-align: center;
		padding: 50px;
		.account-info-header{
			display: flex;
			justify-content: space-between;
			align-items: center;
			margin-bottom: 40px;
			flex-wrap: wrap;
			a{
				text-decoration: none;
				img{
					max-width: 100%;
				}
			}
		}
	}

	.account-img{
		img{
			max-width: 100%;
		}
	}

	.back-home{
		max-width: 150px;
	}
}


.account-form{
    padding: 70px 85px;
    min-height: 600px;
    display: flex;
    flex-direction: column;
    justify-content: center;

	.form-title {
		h2{
			font-size: 30px;
			margin-bottom: 10px;
			font-family: "Rubik",sans-serif;
			color: $primary-blue;
		}
		
		p{
			font-size: 15px;
    		margin-bottom: 40px;
			color: #777777;
			line-height: 1.6em;
			font-weight: 400;
		}
	}
}

.form-style{
	input{
		width: 100%;
		margin-bottom: 15px;
		padding-left: 20px;
		height: 60px;
		border: 1px solid #e5e5e5 !important;
		border-radius: 2px;
	}
}

.account-btn{
	height: 40px;
    background: #fff;
    padding: 0px 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-transform: capitalize;
    font-size: 14px;
    color: $primary-blue;
    border: 2px solid #fff;
    transition: all .4s ease-in-out 0s;
	text-decoration: none;
	&:hover{
		background: transparent;
		color: #fff;
	}
}


// Start Pagination

.pagination-wrapper{
	margin-top: 45px;
	text-align: center;

	.pg-pagination{
		display: flex;
		justify-content: center;
		overflow: hidden;
		list-style-type: none;
		text-align: center;
		padding-left: 0;
		margin: 0;

		li{
			margin-right: 10px;
			
			a{
				background-color: #f5f5f5;
				width: 35px;
				height: 35px;
				line-height: 35px;
				font-size: 0.9375rem;
				font-weight: 600;
				color: #666;
				border: 0;
				display: block;
				border-radius: 5px;
				text-decoration: none;
			}
		}

		li.active{
			a{
				background: #f7c33f;
				border-color: #f7c33f;
				color: #000;
			}
		}
	}
}


// Start Error

#error{
	.error-img{
		img{
			max-width: 100%;
		}
	}

	.error-message{
		h3{
			font-size: 1.25rem;
			font-family: "Rubik",sans-serif;
			color: $primary-blue;
		}
	}
}

// Start Chat From CodePen

.floating-chat {
	cursor: pointer;
	display: -webkit-box;
	display: flex;
	align-items: center;
	justify-content: center;
	color: white;
	position: fixed;
	bottom: 50px;
	right: 26px;
	width: 56px;
	height: 56px;
	transform: translateY(70px);
	transition: all 250ms ease-out;
	border-radius: 50%;
	opacity: 0;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background: $primary-blue;
	z-index: 2;
  
	&.enter {
	  transform: translateY(0);
	  opacity: 0.6;
	  border-radius: 50%;
	  box-shadow: 0 2.1px 1.3px rgba(0, 0, 0, 0.044),
		0 5.9px 4.2px rgba(0, 0, 0, 0.054), 0 12.6px 9.5px rgba(0, 0, 0, 0.061),
		0 25px 20px rgba(0, 0, 0, 0.1);
	}
  
	&.enter:hover {
	  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
	  opacity: 1;
	}
  
	&.expand {
	  width: 328px;
	  max-height: 434px;
	  height: 434px;
	  border-radius: 5px;
	  cursor: auto;
	  opacity: 1;
	}
  
	&:focus {
	  outline: 0;
	}
  
	button {
	  background: transparent;
	  border: 0;
	  text-transform: uppercase;
	  border-radius: 3px;
	  cursor: pointer;
	}
  
	.chat {
	  display: flex;
	  flex-direction: column;
	  position: absolute;
	  opacity: 0;
	  width: 1px;
	  height: 1px;
	  border-radius: 50%;
	  transition: all 250ms ease-out;
	  margin: auto;
	  top: 0;
	  left: 0;
	  right: 0;
	  bottom: 0;
	  background: #fff;
	  border-top: 1px solid #e3e6eb;
	  border-right: 1px solid #e3e6eb;
	  overflow-y: auto;
  
	  &.enter {
		opacity: 1;
		border-radius: 0;
		width: auto;
		height: auto;
	  }
  
	  .header {
		flex-shrink: 0;
		display: flex;
		align-items: center;
		background-color: #fff;
		border-radius: 20px 20px 0 0;
		padding: 15px;
		border-bottom: 1px solid #e3e6eb;
  
		i {
		  font-size: 16px;
		  color: #222;
		}
  
		button {
		  flex-shrink: 0;
		}
	  }
  
	  .title {
		flex-grow: 1;
		flex-shrink: 1;
		padding: 0 5px;
		color: #000;
		font-size: 12px;
	  }
  
	  .messages {
		padding: 10px;
		margin: 0;
		list-style: none;
		overflow-y: scroll;
		overflow-x: hidden;
		flex-grow: 1;
		background: #f7f9fb;
  
		li {
		  position: relative;
		  clear: both;
		  display: inline-block;
		  padding: 14px;
		  margin: 0 0 20px 0;
		  border-radius: 10px;
		  background-color: #e3e6eb;
		  word-wrap: break-word;
		  max-width: 81%;
  
		  &:after {
			position: absolute;
			top: 10px;
			content: "";
			width: 0;
			height: 0;
			border-top: 10px solid rgb(227, 230, 235);
		  }
  
		  &.other {
			animation: show-chat-odd 0.15s 1 ease-in;
			float: right;
			margin-right: 45px;
			color: #000;
  
			span {
			  position: absolute;
			  right: -45px;
			  width: 25px;
			  height: 25px;
			  border-radius: 25px;
			  background: #fff;
			  text-align: center;
			  line-height: 25px;
			}
  
			&:after {
			  border-right: 10px solid transparent;
			  right: -10px;
			}
		  }
  
		  &.self {
			animation: show-chat-even 0.15s 1 ease-in;
			float: left;
			margin-left: 45px;
			color: #000;
  
			span {
			  position: absolute;
			  left: -45px;
			  width: 25px;
			  height: 25px;
			  border-radius: 25px;
			  background: #fff;
			  text-align: center;
			  line-height: 25px;
			}
  
			&:after {
			  border-left: 10px solid transparent;
			  left: -10px;
			}
  
			@keyframes show-chat-even {
			  0% {
				margin-left: -480px;
			  }
  
			  100% {
				margin-left: 0;
			  }
			}
  
			@keyframes show-chat-odd {
			  0% {
				margin-right: -480px;
			  }
  
			  100% {
				margin-right: 0;
			  }
			}
		  }
		}
	  }
  
	  .chat_list {
		flex-shrink: 0;
		display: flex;
		align-items: center;
		background-color: #fff;
		border-radius: 20px 20px 0 0;
		padding: 15px;
		border-bottom: 1px solid #e3e6eb;
  
		.title {
		  flex-grow: 1;
		  flex-shrink: 1;
		  padding: 0 5px;
		  color: #000;
		  font-size: 12px;
		}
		i {
		  font-size: 16px;
		  color: #222;
		}
  
		button {
		  flex-shrink: 0;
		}
	  }
  
	  .footer {
		flex-shrink: 0;
		display: flex;
		padding: 10px;
		max-height: 90px;
		background: #fff;
  
		.text-box {
		  border-radius: 3px;
		  min-height: 100%;
		  width: 100%;
		  margin-right: 5px;
		  color: #000;
		  overflow-y: auto;
		  padding: 2px 5px;
  
		}
  
		[contentEditable="true"]:empty:not(:focus):before {
		  content: attr(data-text);
		}
  
		#sendMessage {
		  background-color: #fff;
		  margin-left: auto;
		  width: 65px;
		  color: #000;
		  font-weight: bold;
		  border-left: 2px solid #f7f9fb;
		  border-radius: 0 0 20px 0;
		}
	  }
	}
  }





@media (max-width:991px) {

	#hero {
		.site-title {
			h2 {
				font-size: 2.8125rem !important;
			}

			span {
				font-size: 2.8125rem !important;
			}
		}
	}

	.section-title {
		h2 {
			font-size: 2.8125rem !important;
		}
	}

	.join-us-content {
		h2 {
			font-size: 30px !important;
		}
	}

	.world-section {
		gap: 30px;

		h2 {
			max-width: 340px !important;
			font-size: 34px !important;
			line-height: 45px !important;
		}

		a {
			padding: 15px 10px !important;
			font-size: 14px !important;
		}
	}

	.site-btns {
		a {
			font-size: 0.875rem !important;
			padding: 10px 25px !important;
		}
	}

	.blog-content {
		padding: 15px !important;
	}

	.about-video-img::after {
		left: -18px;
		top: -30px;
		width: 105%;
		height: 56%;
	}

	.volunteer-contact-form{
		max-width: 635px !important;
		margin-top: 0px !important;
	}

	.account-info{
		width: 100% !important;
	}

	.account-form{
		padding: 70px 35px !important;
	}
}

@media (max-width:767px) {
	.section-title {
		h2 {
			font-size: 25px !important;
			line-height: 35px !important;
		}
	}

	.about-video-img::after {
		left: -7px;
		top: -12px;
		width: 102%;
		height: 56%;
	}

	.world-section {
		flex-wrap: wrap !important;
		padding: 35px !important;

		h2 {
			margin-bottom: 20px !important;
			max-width: 340px !important;
			font-size: 34px !important;
			line-height: 45px !important;
		}
	}

	.volunteer-contact-form{
		margin-top: 0px !important;
		padding: 14px 16px !important;

		h2{
			font-size: 23px !important;
		}
	}

	.contact-us-form{
		padding: 40px 35px !important;
	}

	.contact-us-map{
		height: 500px !important;
		overflow: hidden;
	}

	.topbar{
		text-align: center;
    	padding: 20px 0;

		.intro-phone,.top-login-register{
			border: none !important;
		}
	}
}


@media (max-width:590px) {

	.post{
		padding: 15px;
	}

	.case-text-top{
		padding: 0 !important;
	}

	.comment-img{
		display: none !important;
	}

	.site-btns {
		a {
			padding: 10px 18px !important;
		}
	}

	#join-us {
		padding: 70px 5px;

		.join-us-content {
			h2 {
				font-size: 33px !important;
			}
		}
	}

	#about-video {
		padding-top: 80px !important;

		.about-video {
			h2 {
				font-size: 27px !important;
				line-height: 35px !important;
			}

			.about-video-img::after {
				left: -7px;
				top: -12px;
				width: 104%;
				height: 56%;
			}
		}
	}

	.contact-intro{
		div{
			padding: 8px 6px !important;
		}
	}

	.top-login-register{
		padding: 8px 6px !important;
	}


	.floating-chat{
		right: 0 !important;
	}

}