
@{
    ViewData["Title"] = "Error";
}

    <main>
        <!-- Start of Breadcrumb -->
        <section class="breadcrumb section-padding">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <div class="breadcrumb-wrap">
                            <h2>Error 404</h2>
                            <ul class="breadcrumb-list">
                                <li class="breadcrumb-list-item">
                                    <a href="index.html">Home</a>
                                </li>
                                <li class="breadcrumb-list-item">
                                    <a href="cause.html">Error</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>

        </section>
        <!-- End of Breadcrumb -->

        <section id="error" class="section-padding">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-lg-8 col-md-10 col-sm-12 col-12 text-center">
                        <div class="error-img">
                            <img src="~/assets/images/error-404.png" alt="">
                        </div>
                        <div class="error-message">
                            <h3 class="my-3">Oops! Page Not Found!</h3>
                            <p>We’re sorry but we can’t seem to find the page you requested. This might be because you
                                have typed the web address incorrectly.</p>
                            <a href="" class="btn btn-warning rounded-pill px-4 fs-5 text-white">Back to home</a>
                        </div>
                    </div>
                </div>
            </div>
        </section>


    </main>

