
@{
    ViewData["Title"] = "CreatePost";
}

    <main>
        <!-- Start of Breadcrumb -->
        <section class="breadcrumb section-padding">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <div class="breadcrumb-wrap">
                            <h2>Yusif Osmanov</h2>
                            <ul class="breadcrumb-list">
                                <li class="breadcrumb-list-item">
                                    <a href="index.html">Home</a>
                                </li>
                                <li class="breadcrumb-list-item">
                                    <a href="cause.html">My Profile</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>

        </section>
        <!-- End of Breadcrumb -->


        <!-- Start Create a Post -->
        <section id="create-post" class="py-5 section-padding">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-lg-8 col-md-10 col-sm-12 text-center">
                        <div class="donation-details donate p-4">
                            <h2 class="fs-3 ">Create a Post for Charity</h2>
                            <div class="donation-details tab-donation">
                                <form action="">
                                    <div class="row">
                                        <div class="col-lg-6 col-md-6 col-sm-6 col-12 form-group">
                                            <input type="text" class="form-control" placeholder="Title">
                                        </div>
                                        <div class="col-lg-6 col-md-6 col-sm-6 col-12 form-group">
                                            <input type="number" class="form-control" placeholder="Amount Needed">
                                        </div>
                                        <div class="col-lg-6 col-md-6 col-sm-6 col-12 form-group">
                                            <div class="row">
                                                <div class="col-lg-6 col-md-6 col-sm-6 col-12 form-group">
                                                    <div class="dropdown">
                                                        <button class="btn btn-warning dropdown-toggle w-100 text-white"
                                                            type="button" id="dropdownMenuButton1"
                                                            data-bs-toggle="dropdown" aria-expanded="false">
                                                            Tags
                                                        </button>
                                                        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                                                            <li><a class="dropdown-item" href="#">Action</a></li>
                                                            <li><a class="dropdown-item" href="#">Another action</a>
                                                            </li>
                                                            <li><a class="dropdown-item" href="#">Something else
                                                                    here</a></li>
                                                        </ul>
                                                    </div>
                                                </div>
                                                <div class="col-lg-6 col-md-6 col-sm-6 col-12 form-group">
                                                    <div class="dropdown">
                                                        <button class="btn btn-warning dropdown-toggle w-100 text-white"
                                                            type="button" id="dropdownMenuButton1"
                                                            data-bs-toggle="dropdown" aria-expanded="false">
                                                            Category
                                                        </button>
                                                        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                                                            <li><a class="dropdown-item" href="#">Action</a></li>
                                                            <li><a class="dropdown-item" href="#">Another action</a>
                                                            </li>
                                                            <li><a class="dropdown-item" href="#">Something else
                                                                    here</a></li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-6 col-md-6 col-sm-6 col-12 form-group">
                                            <input type="text" class="form-control" name="Adress" id="Adress"
                                                placeholder="Adress">
                                        </div>
                                        <div class="col-lg-12 col-md-12 col-sm-12 col-12 form-group">
                                            <input type="file" class="form-control border-0" multiple
                                                placeholder="File">
                                        </div>
                                        <div class="col-lg-12 col-12 form-group">
                                            <textarea class="form-control" id="note" placeholder="Description"
                                                rows="6"></textarea>
                                        </div>

                                        <div class="form-btn">
                                            <button type="submit">Publish</button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- End Create a Post -->

    </main>

