
@{
    ViewData["Title"] = "Index";
}

    <main>
        <!-- Start of Breadcrumb -->
        <section class="breadcrumb section-padding">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <div class="breadcrumb-wrap">
                            <h2>Yusif Osmanov</h2>
                            <ul class="breadcrumb-list">
                                <li class="breadcrumb-list-item">
                                    <a href="index.html">Home</a>
                                </li>
                                <li class="breadcrumb-list-item">
                                    <a href="cause.html">My Profile</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>

        </section>
        <!-- End of Breadcrumb -->


        <!-- Start My Posts -->
        <section id="my-posts" class="mb-5 section-padding">
            <div class="container">
                <div class="row donate justify-content-center">
                    <h2 class="fs-3 mb-4 text-center">My Posts</h2>
                    <div class="col-lg-6 col-md-8 col-md-10 mb-3">
                        <div class="cause-card post shadow-sm p-0">
                            <div class="owl-carousel owl-theme owl-post">
                                <div class="item">
                                    <div class="post-img">
                                        <a href=""><img src="~/assets/images/blog/img-1.jpg" alt=""></a>
                                    </div>
                                </div>
                                <div class="item">
                                    <div class="post-img">
                                        <a href=""><img src="~/assets/images/blog/img-2.jpg" alt=""></a>
                                    </div>
                                </div>
                            </div>
                            <div class="cause-content post-info w-100 p-3">
                                <div class="post-content">
                                    <a href="" class="text-decoration-none">
                                        <h3 class="fs-4">They are waiting for your help.</h3>
                                    </a>
                                </div>
                                <div class="d-flex justify-content-between">
                                    <div class="d-flex">
                                        <div class="post-info-user d-flex">
                                            <div class="user-img">
                                                <img src="~/assets/images/blog/admin.jpg" alt="">
                                            </div>
                                            <div class="user-name ms-2">
                                                <a href="">By Admin</a>
                                            </div>
                                        </div>
                                        <div class="post-date ms-3 d-flex align-items-center justify-content-between">
                                            <span><i class="fa-solid fa-calendar-days me-1"></i> Sep 25,2020</span>
                                        </div>
                                    </div>
                                    <div class="post-actions d-flex align-items-center">
                                        <a href=""><i class="fa-solid fa-pen text-warning me-3"></i></a>
                                        <a href=""><i class="fa-solid fa-trash-can text-danger"></i></a>
                                    </div>
                                </div>
                                <div class="progress mt-5 mb-4">
                                    <div class="progress-bar bg-warning" role="progressbar" style="width: 25%;"
                                        aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">25%</div>
                                </div>
                                <div class="raise-goal d-flex justify-content-between">
                                    <div class="raise">
                                        <span>Raised:</span>
                                        $7,000.00
                                    </div>
                                    <div class="goal">
                                        <span>Goal:</span>
                                        $8,000.00
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-8 col-md-10 mb-3">
                        <div class="cause-card post shadow-sm p-0">
                            <div class="owl-carousel owl-theme owl-post">
                                <div class="item">
                                    <div class="post-img">
                                        <a href=""><img src="~/assets/images/blog/img-1.jpg" alt=""></a>
                                    </div>
                                </div>
                                <div class="item">
                                    <div class="post-img">
                                        <a href=""><img src="~/assets/images/blog/img-2.jpg" alt=""></a>
                                    </div>
                                </div>
                            </div>
                            <div class="cause-content post-info w-100 p-3">
                                <div class="post-content">
                                    <a href="" class="text-decoration-none">
                                        <h3 class="fs-4">They are waiting for your help.</h3>
                                    </a>
                                </div>
                                <div class="d-flex justify-content-between">
                                    <div class="d-flex">
                                        <div class="post-info-user d-flex">
                                            <div class="user-img">
                                                <img src="~/assets/images/blog/admin.jpg" alt="">
                                            </div>
                                            <div class="user-name ms-2">
                                                <a href="">By Admin</a>
                                            </div>
                                        </div>
                                        <div class="post-date ms-3 d-flex align-items-center justify-content-between">
                                            <span><i class="fa-solid fa-calendar-days me-1"></i> Sep 25,2020</span>
                                        </div>
                                    </div>
                                    <div class="post-actions d-flex align-items-center">
                                        <a href=""><i class="fa-solid fa-pen text-warning me-3"></i></a>
                                        <a href=""><i class="fa-solid fa-trash-can text-danger"></i></a>
                                    </div>
                                </div>
                                <div class="progress mt-5 mb-4">
                                    <div class="progress-bar bg-warning" role="progressbar" style="width: 25%;"
                                        aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">25%</div>
                                </div>
                                <div class="raise-goal d-flex justify-content-between">
                                    <div class="raise">
                                        <span>Raised:</span>
                                        $7,000.00
                                    </div>
                                    <div class="goal">
                                        <span>Goal:</span>
                                        $8,000.00
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="pagination-wrapper mb-3">
                        <ul class="pg-pagination">
                            <li>
                                <a href=""><i class="fa-solid fa-angle-left"></i></a>
                            </li>
                            <li class="active">
                                <a href="">1</a>
                            </li>
                            <li>
                                <a href="">2</a>
                            </li>
                            <li>
                                <a href="">3</a>
                            </li>
                            <li>
                                <a href="">4</a>
                            </li>
                            <li>
                                <a href=""><i class="fa-solid fa-angle-right"></i></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </section>
        <!-- End My Posts -->

    </main>
