@model ResetPasswordViewModel
@{
    ViewData["Title"] = "ResetPassword";
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">


<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="author" content="wpoceans">
    <title>Nasarna - Charity Nonprofit HTML 5 Template</title>
    <!-- Font-Awesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.2/css/all.min.css"
        integrity="sha512-1sCRPdkRXhBV2PBLUdRb4tMg1w2YPf37qatUFeS7zlBy7jJI8Lf4VHwWfZZfpXtYSLy85pkm9GaYVYMfw5BC1A=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <!-- Bootstrap 5 -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

    <!-- Owl Carousel -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css"
        integrity="sha512-tS3S5qG0BlhnQROyJXvNjeEM4UpMXHrQfTGmbQ1gKmelCxlSEBUaxhRBj/EFTzpbP4RVSrpEikbmdJobCvhE3g=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <!-- Owl Theme -->
    <link rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.theme.default.min.css"
        integrity="sha512-sMXtMNL1zRzolHYKEujM2AqCLUR9F2C4/05cdbxjjLSRvMQIciEPCQZo++nk7go3BtSuK9kfa/s+a4f4i5pLkw=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />

    <!-- Jquery Fancybox -->
    <link href="~/assets/css/jquery.fancybox.css" rel="stylesheet">

    <!-- Odometer CSS -->
    <link href="~/assets/css/odometer.css" rel="stylesheet">

    <!-- Google Fonts -->
    <link
        href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&family=Raleway:wght@900&family=Roboto:wght@100;400&display=swap"
        rel="stylesheet">
    <link
        href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&family=Raleway:wght@900&family=Roboto:wght@100;400&family=Rubik:wght@300;400;500;600;700;800;900&display=swap"
        rel="stylesheet">

    <!-- Style CSS -->
    <link href="~/assets/css/style.css" rel="stylesheet">

</head>

<body>


    <section class="section-padding">
        <div class="container">
            <div class="row account-wrapper justify-content-center shadow">
                <div class="col-lg-6 account-info">
                    <div class="account-info-header d-flex justify-content-between">
                        <a href="">
                            <img src="~/assets/images/logo.png" alt="">
                        </a>
                        <a href="" class="account-btn">Create Account</a>
                    </div>

                    <div class="account-img">
                        <img src="~/assets/images/login.png" alt="">
                    </div>

                    <div class="back-home">
                        <a href="" class="account-btn">Back To Home</a>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="account-form">
                        <div class="form-title">
                            <h2>Forgot Password?</h2>
                        </div>
                        <form asp-action="ResetPassword" asp-controller="Account" method="post">
                            <div class="row">
                                <div class="col-12">
                                    <div class="form-group form-style">
                                        <label asp-for="NewPassword" class="fw-bold mb-1">New Password</label>
                                        <input asp-for="NewPassword">
                                    </div>
                                </div>
                                <div class="col-12">
                                    <div class="form-group form-style">
                                        <label asp-for="ConfirmPassword" class="fw-bold mb-1">Confirm Password</label>
                                        <input asp-for="ConfirmPassword">
                                    </div>
                                </div>
                                <div class="text-danger" asp-validation-summary="ModelOnly"></div>
                                <div class="col-12">
                                    <button type="submit"
                                        class="btn btn-warning text-white rounded-0 w-100 p-2">Reset</button>
                                </div>
                            </div>
                            <input type="hidden" name="Token" value="@Model.Token" />
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>



    <!-- All JavaScript files
            ================================================== -->
    <!-- <script src="~/assets/js/jquery.min.js"></script> -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"
        integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js"
        integrity="sha512-bPs7Ae6pVvhOSiIcyUClR7/q2OAsRiovw4vAkX+zJbw3ShAeeqezq50RIIcIURq7Oa20rW2n2q+fyXBNcU9lrw=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>

    <!-- Odometer JS -->
    <script src="~/assets/js/odometer.js"></script>

    <!-- Jquery Plugin Collection -->
    <script src="~/assets/js/jquery-plugin-collection.js"></script>

    <!-- BootStrap JS -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>
    <!-- Custom script for this template -->

            <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.4/jquery.validate.min.js" integrity="sha512-FOhq9HThdn7ltbK8abmGn60A/EMtEzIzv1rvuh+DqzJtSGq8BRdEN0U+j0iKEIffiw/yEtVuladk6rsG4X6Uqg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>    <!-- Bootstrap core JavaScript-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validation-unobtrusive/3.2.12/jquery.validate.unobtrusive.min.js" integrity="sha512-o6XqxgrUsKmchwy9G5VRNWSSxTS4Urr4loO6/0hYdpWmFUfHqGzawGxeQGMDqYzxjY9sbktPbNlkIQJWagVZQg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

    <!-- Script JS -->
    <script src="~/assets/js/script.js"></script>



</body>


<!-- Mirrored from hellloexpert.com/tf/html/nasarna/index-2.html by HTTrack Website Copier/3.x [XR&CO'2014], Fri, 29 Jul 2022 11:28:20 GMT -->

</html>