<!DOCTYPE html>
<html lang="en">


<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="author" content="wpoceans">
    <title>Nasarna - Charity Nonprofit HTML 5 Template</title>
    <!-- Font-Awesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.2/css/all.min.css"
        integrity="sha512-1sCRPdkRXhBV2PBLUdRb4tMg1w2YPf37qatUFeS7zlBy7jJI8Lf4VHwWfZZfpXtYSLy85pkm9GaYVYMfw5BC1A=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <!-- Bootstrap 5 -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

    <!-- Owl Carousel -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css"
        integrity="sha512-tS3S5qG0BlhnQROyJXvNjeEM4UpMXHrQfTGmbQ1gKmelCxlSEBUaxhRBj/EFTzpbP4RVSrpEikbmdJobCvhE3g=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <!-- Owl Theme -->
    <link rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.theme.default.min.css"
        integrity="sha512-sMXtMNL1zRzolHYKEujM2AqCLUR9F2C4/05cdbxjjLSRvMQIciEPCQZo++nk7go3BtSuK9kfa/s+a4f4i5pLkw=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />

    <!-- Jquery Fancybox -->
    <link href="~/assets/css/jquery.fancybox.css" rel="stylesheet">

    <!-- Odometer CSS -->
    <link href="~/assets/css/odometer.css" rel="stylesheet">

    <!-- Google Fonts -->
    <link
        href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&family=Raleway:wght@900&family=Roboto:wght@100;400&display=swap"
        rel="stylesheet">
    <link
        href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&family=Raleway:wght@900&family=Roboto:wght@100;400&family=Rubik:wght@300;400;500;600;700;800;900&display=swap"
        rel="stylesheet">

    <!-- Style CSS -->
    <link href="~/assets/css/style.css" rel="stylesheet">

</head>

<body>

    <!-- Start of preloader -->
    <div class="preloader">
        <div class="folding-cube">
            <div class="cube1 load-cube"></div>
            <div class="cube2 load-cube"></div>
            <div class="cube4 load-cube"></div>
            <div class="cube3 load-cube"></div>
        </div>
    </div>
    <!-- End of preloader -->


    <!-- Start of header -->
    <header class="site-header header-style">

        <div class="topbar border-bottom">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-md-6 col-sm-7 col-12 d-md-flex justify-content-start">
                        <div class="contact-intro d-flex justify-content-center">
                            <div class="intro-phone border-end d-flex align-items-center p-3 ps-0">
                                <span class="text-secondary d-sm-flex align-items-center"><i
                                        class="fa-solid fa-phone text-warning me-1"></i> +000123456789</span>
                            </div>
                            <div class="intro-mail d-flex align-items-center p-3">
                                <span class="text-secondary d-sm-flex align-items-center"><i
                                        class="fa-solid fa-envelope text-warning me-1"></i> nasarna@gmail.com</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-7 col-12 d-md-flex justify-content-end">
                        <div class="d-flex align-items-center justify-content-center">
                            <a asp-action="login" asp-controller="account"
                                class="top-login-register text-decoration-none p-3 border-end text-secondary">Login</a>
                            <a asp-action="register" asp-controller="account" class="top-login-register text-decoration-none p-3 text-secondary">Register</a>
                            <a asp-action="index" asp-controller="cause" class="btn btn-warning">Donate Now</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <nav class="navigation navbar navbar-expand-lg navbar-light bg-white">
            <div class="container">
                <a class="navbar-brand p-md-3 mt-1" asp-action="index" asp-controller="home">
                    <img src="~/assets/images/logo-2.png" alt="">
                </a>
                <button class="navbar-toggler" type="button">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse justify-content-end navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a class="nav-link" aria-current="page" asp-action="index" asp-controller="home">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-action="about" asp-controller="home">About</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-action="index" asp-controller="cause">Causes</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-action="index" asp-controller="event">Event</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-action="volunteer" asp-controller="home">Volunteer</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-action="index" asp-controller="blog">Blog</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link me-5" asp-action="contact" asp-controller="home">Contact</a>
                        </li>
                    </ul>

                    <div class="header-search-form-wrapper">
                        <button class="search-toggle-btn"><i class="fa-solid fa-magnifying-glass"></i></button>
                        <div class="header-search-form">
                            <form>
                                <div class="d-flex">
                                    <input type="text" class="form-control" placeholder="Search here...">
                                    <button class="search-toggle-btn" type="submit"><i
                                            class="fa-solid fa-magnifying-glass"></i></button>
                                </div>
                            </form>
                        </div>
                    </div>

                </div>
            </div>

            <div class="side-bar position-fixed">
                <div class="close-btn position-absolute"><i class="fa-solid fa-circle-xmark text-warning fs-1"></i>
                </div>
                <ul class="small-nav">
                    <li class="small-nav-item">
                        <a class="small-nav-link" aria-current="page" asp-action="index" asp-controller="home">Home</a>
                    </li>
                    <li class="small-nav-item">
                        <a class="small-nav-link" asp-action="about" asp-controller="home">About</a>
                    </li>
                    <li class="small-nav-item">
                        <a class="small-nav-link" asp-action="index" asp-controller="cause">Causes</a>
                    </li>
                    <li class="small-nav-item">
                        <a class="small-nav-link" asp-action="index" asp-controller="event">Event</a>
                    </li>
                    <li class="small-nav-item">
                        <a class="small-nav-link" asp-action="volunteer" asp-controller="home">Volunteer</a>
                    </li>
                    <li class="small-nav-item">
                        <a class="small-nav-link" asp-action="index" asp-controller="blog">Blog</a>
                    </li>
                    <li class="small-nav-item">
                        <a class="small-nav-link" asp-action="contact" asp-controller="home">Contact</a>
                    </li>
                </ul>
            </div>
        </nav>

    </header>
    <!-- End of header -->

    <!-- Start of Main -->
        @RenderBody()
    <!-- End of Main -->

    <!-- Start of Footer -->
    <footer>
        <!-- Start of Subscribe -->
        <section id="subscribe">
            <div class="container">
                <div class="row">
                    <div class="col">
                        <h3>Follow us For ferther information</h3>
                        <div class="subscribe-form">
                            <form action="">
                                <div class="position-relative">
                                    <input type="text" placeholder="Enter Your Email" class="form-control">
                                    <button type="submit">Subscribe</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- End of Subscribe -->


        <!-- Start of Footer -->
        <section id="footer">
            <div class="upper-footer">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-3 col-md-6 col-xs-12 mb-3">
                            <div class="widget about-widget">
                                <div class="logo widget-title">
                                    <img src="~/assets/images/logo.png" alt="">
                                </div>
                                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. In, minima!</p>
                                <ul class="about-widget-social-list">
                                    <li class="about-widget-social-list-item">
                                        <a href="#">
                                            <i class="fa-brands fa-facebook-f"></i>
                                        </a>
                                    </li>
                                    <li class="about-widget-social-list-item">
                                        <a href="#">
                                            <i class="fa-brands fa-twitter"></i>
                                        </a>
                                    </li>
                                    <li class="about-widget-social-list-item">
                                        <a href="#">
                                            <i class="fa-brands fa-instagram"></i>
                                        </a>
                                    </li>
                                    <li class="about-widget-social-list-item">
                                        <a href="#">
                                            <i class="fa-solid fa-envelope"></i>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>

                        <div class="col-lg-3 col-md-6 col-xs-12 mb-3">
                            <div class="widget news-widget">
                                <div class="widget-title">
                                    <h3>Top News</h3>
                                </div>
                                <div class="news-wrap d-flex">
                                    <div class="news-img">
                                        <img src="~/assets/images/footer/img-1.jpg" alt="">
                                    </div>
                                    <div class="news-content">
                                        <h3>Education for all poor children</h3>
                                        <span>12 Nov, 2020</span>
                                    </div>
                                </div>
                                <div class="news-wrap d-flex">
                                    <div class="news-img">
                                        <img src="~/assets/images/footer/img-2.jpg" alt="">
                                    </div>
                                    <div class="news-content">
                                        <h3>Education for all poor children</h3>
                                        <span>12 Nov, 2020</span>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-3 col-md-6 col-xs-12 mb-3">
                            <div class="widget links-widget">
                                <div class="widget-title">
                                    <h3>
                                        Useful Links
                                    </h3>
                                </div>

                                <ul class="widget-list">
                                    <li class="widget-list-item mb-2">
                                        <a asp-action="about" asp-controller="home">About Us</a>
                                    </li>
                                    <li class="widget-list-item mb-2">
                                        <a asp-action="index" asp-controller="cause">Our Causes</a>
                                    </li>
                                    <li class="widget-list-item mb-2">
                                        <a asp-action="volunteer" asp-controller="home">Our Mission</a>
                                    </li>
                                    <li class="widget-list-item mb-2">
                                        <a asp-action="contact" asp-controller="home">Contact Us</a>
                                    </li>
                                    <li class="widget-list-item mb-2">
                                        <a asp-action="index" asp-controller="event">Our Event</a>
                                    </li>
                                </ul>
                            </div>
                        </div>

                        <div class="col-lg-3 col-md-6 col-xs-12 mb-3">
                            <div class="widget contact-widget">
                                <div class="widget-title">
                                    <h3>Contact</h3>
                                </div>
                                <p class="text-light fs-6">online store with lots of cool and exclusive wpo-features</p>
                                <ul class="widget-list">
                                    <li class="widget-list-item d-flex align-items-center mb-2">
                                        <i class="fa-solid fa-location-dot me-3"></i> <span>28 Street, New York City,
                                            USA</span>
                                    </li>
                                    <li class="widget-list-item d-flex align-items-center mb-2">
                                        <i class="fa-solid fa-phone me-3"></i> <span>+994 55 555 55 55</span>
                                    </li>
                                    <li class="widget-list-item d-flex align-items-center mb-2">
                                        <i class="fa-solid fa-envelope me-3"></i> <span>example@gmail.com</span>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="lower-footer">
                <div class="container">
                    <div class="row">
                        <div class="col col-xs-12">
                            <p class="copy-right">
                                © 2020 Nasarna. All rights reserved
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- End of Footer -->
    </footer>
    <!-- End of Footer -->


    <!-- All JavaScript files
        ================================================== -->

    <!-- Jquery -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"
        integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>

    <!-- Owl Carousel -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js"
        integrity="sha512-bPs7Ae6pVvhOSiIcyUClR7/q2OAsRiovw4vAkX+zJbw3ShAeeqezq50RIIcIURq7Oa20rW2n2q+fyXBNcU9lrw=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>

    <script type="text/javascript">
        $('.owl-post').owlCarousel({
            loop: true,
            margin: 30,
            responsiveClass: true,
            responsive: {
                0: {
                    items: 1,
                    dots: false,
                    nav: false,
                },
                550: {
                    items: 1,
                    center: false,
                    margin: 10,
                    dots: false,
                    nav: false
                },
                992: {
                    items: 1,
                    nav: true,
                    dots: false,
                    loop: true
                }
            }
        })
    </script>


    <script type="text/javascript">
        $('.owl-index').owlCarousel({
            loop: true,
            margin: 30,
            responsiveClass: true,
            responsive: {
                0: {
                    items: 1,
                    dots: true,
                    nav: false,
                },
                550: {
                    items: 2,
                    center: false,
                    margin: 10,
                    dots: true,
                    nav: false
                },
                992: {
                    items: 3,
                    nav: true,
                    dots: false,
                    loop: true,
                }
            }
        })
    </script>

    <!-- Odometer JS -->
    <script src="~/assets/js/odometer.js"></script>

    <!-- Jquery Plugin Collection -->
    <script src="~/assets/js/jquery-plugin-collection.js"></script>

    <!-- BootStrap JS -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>

    <!-- Script JS -->
    <script src="~/assets/js/script.js"></script>


</body>

</html>