
@{
    ViewData["Title"] = "Detail";
}
    <main>
        <!-- Start of Breadcrumb -->
        <section class="breadcrumb section-padding">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <div class="breadcrumb-wrap">
                            <h2>Event Single</h2>
                            <ul class="breadcrumb-list">
                                <li class="breadcrumb-list-item">
                                    <a href="index.html">Home</a>
                                </li>
                                <li class="breadcrumb-list-item">
                                    <a href="cause.html">Event Single</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>

        </section>
        <!-- End of Breadcrumb -->

        <div id="event-single" class="section-padding">
            <div class="container">
                <div class="row">
                    <div class="col-md-8">
                        <div class="event-single">
                            <div class="event-single-img">
                                <img src="~/assets/images/event-details2.jpg" alt="">
                                <div class="date-badge">
                                    <span>25</span>
                                    <span>NOV</span>
                                </div>
                            </div>
                            <div class="event-single-content">
                                <h2>Education for All Children</h2>
                                <p>On the other hand, we denounce with righteous indignation and dislike men who are so
                                    beguiled and demoralized by the charms of pleasure of the moment, so blinded by
                                    desire, that they cannot foresee the pain and trouble that are bound to ensue and
                                    equal blame belongs to those who fail in their duty through weakness of will, which
                                    is the same as saying through shrinking from toil and pain.</p>
                            </div>
                            <div class="event-details-wrap mt-5">
                                <ul class="nav nav-tabs">
                                    <li class="nav-item ">
                                        <a class="nav-link active mb-3" aria-current="page" data-bs-toggle="tab"
                                            href="#Schedule">Event Schedule</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link mb-3" data-bs-toggle="tab" href="#Map">Map Location</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link mb-3" data-bs-toggle="tab" href="#Contact">Contact Us</a>
                                    </li>
                                </ul>

                                <div class="event-detail-content">
                                    <div class="tab-content">
                                        <div id="Schedule" class="tab-pane active">
                                            <div class="case-content">
                                                <div class="case-text-top">

                                                    <div class="case-text-content m-0">

                                                        <p class="mb-4">These cases are perfectly simple and easy to
                                                            distinguish. In a free hour, when our power of choice is
                                                            untrammelled and when nothing prevents our being able to do
                                                            what we like best, every pleasure.</p>
                                                        <ul class="case-bottom-list">
                                                            <li class="case-bottom-list-item">
                                                                The wise man therefore always holds in these matters.
                                                            </li>
                                                            <li class="case-bottom-list-item">
                                                                The wise man therefore always holds in these matters.
                                                            </li>
                                                            <li class="case-bottom-list-item">
                                                                The wise man therefore always holds in these matters.
                                                            </li>
                                                            <li class="case-bottom-list-item">
                                                                The wise man therefore always holds in these matters.
                                                            </li>
                                                            <li class="case-bottom-list-item">
                                                                The wise man therefore always holds in these matters.
                                                            </li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div id="Map" class="tab-pane">
                                            <div class="contact-map">
                                                <iframe
                                                    src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d193595.9147703055!2d-74.11976314309273!3d40.69740344223377!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89c24fa5d33f083b%3A0xc80b8f06e177fe62!2sNew+York%2C+NY%2C+USA!5e0!3m2!1sen!2sbd!4v1547528325671"
                                                    allowfullscreen=""></iframe>
                                            </div>
                                        </div>
                                        <div id="Contact" class="tab-pane">
                                            <div class="event-contact">
                                                <form action="post" class="event-form">
                                                    <div class="col-lg-12 col-md-12 col-sm-12 col-12 form-group">
                                                        <input type="text" class="form-control"
                                                            placeholder="Your Name*">
                                                    </div>
                                                    <div class="col-lg-12 col-md-12 col-sm-12 col-12 form-group">
                                                        <input type="text" class="form-control"
                                                            placeholder="Your Name*">
                                                    </div>
                                                    <div class="col-lg-12 col-12 form-group">
                                                        <textarea class="form-control" rows="6" name="note" id="note"
                                                            placeholder="Massage"></textarea>
                                                    </div>
                                                    <div class="submit-area col-lg-12 col-12">
                                                        <button type="submit">Submit Now</button>
                                                    </div>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="site-sidebar">
                            <div class="sidebar-item sidebar-search">
                                <h3>Search Here</h3>
                                <form action="" class="sidebar-form position-relative">
                                    <input type="text" class="form-control" placeholder="Search Post..">
                                    <button type="submit">
                                        <i class="fa-solid fa-magnifying-glass"></i>
                                    </button>
                                </form>
                            </div>
                            <div class="sidebar-item sidebar-categories">
                                <h3>Categories</h3>
                                <ul class="sidebar-category-list">
                                    <li class="sidebar-category-list-item">
                                        <a href="">Helping Poor</a>
                                    </li>
                                    <li class="sidebar-category-list-item">
                                        <a href="">Water Problem</a>
                                    </li>
                                    <li class="sidebar-category-list-item">
                                        <a href="">Charity</a>
                                    </li>
                                    <li class="sidebar-category-list-item">
                                        <a href="">Medical Compain</a>
                                    </li>
                                    <li class="sidebar-category-list-item">
                                        <a href="">Free Food</a>
                                    </li>
                                </ul>
                            </div>
                            <div class="sidebar-item sidebar-recents">
                                <h3>Recent Posts</h3>
                                <div class="recent-posts">
                                    <div class="recent-post">
                                        <div class="recent-post-img">
                                            <img src="~/assets/images/recent-posts/img-1.jpg" alt="">
                                        </div>
                                        <div class="recent-post-detail">
                                            <h4>
                                                <a href="">Many Children are suffering a lot for food.</a>
                                            </h4>
                                            <span class="date">
                                                22 Sep 2020
                                            </span>
                                        </div>
                                    </div>
                                    <div class="recent-post mt-3">
                                        <div class="recent-post-img">
                                            <img src="~/assets/images/recent-posts/img-1.jpg" alt="">
                                        </div>
                                        <div class="recent-post-detail">
                                            <h4>
                                                <a href="">Many Children are suffering a lot for food.</a>
                                            </h4>
                                            <span class="date">
                                                22 Sep 2020
                                            </span>
                                        </div>
                                    </div>
                                    <div class="recent-post mt-3">
                                        <div class="recent-post-img">
                                            <img src="~/assets/images/recent-posts/img-1.jpg" alt="">
                                        </div>
                                        <div class="recent-post-detail">
                                            <h4>
                                                <a href="">Many Children are suffering a lot for food.</a>
                                            </h4>
                                            <span class="date">
                                                22 Sep 2020
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="sidebar-item sidebar-tags">
                                <h3>Tags</h3>
                                <ul class="sidebar-tag-list">
                                    <li class="sidebar-tag-list-item">
                                        <a href="">Donations</a>
                                    </li>
                                    <li class="sidebar-tag-list-item">
                                        <a href="">Charity</a>
                                    </li>
                                    <li class="sidebar-tag-list-item">
                                        <a href="">Help</a>
                                    </li>
                                    <li class="sidebar-tag-list-item">
                                        <a href="">Non Profit</a>
                                    </li>
                                    <li class="sidebar-tag-list-item">
                                        <a href="">Poor People</a>
                                    </li>
                                    <li class="sidebar-tag-list-item">
                                        <a href="">Helping Hand</a>
                                    </li>
                                    <li class="sidebar-tag-list-item">
                                        <a href="">Video</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


    </main>

