
@{
    ViewData["Title"] = "Index";
}

    <main>
        <!-- Start of Breadcrumb -->
        <section class="breadcrumb section-padding">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <div class="breadcrumb-wrap">
                            <h2>Our Events</h2>
                            <ul class="breadcrumb-list">
                                <li class="breadcrumb-list-item">
                                    <a href="index.html">Home</a>
                                </li>
                                <li class="breadcrumb-list-item">
                                    <a href="cause.html">Events</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>

        </section>
        <!-- End of Breadcrumb -->

        <!-- Start of Events -->
        <section id="events" class="section-padding">
            <div class="container">
                <div class="row">
                    <div class="col text-center">
                        <div class="section-title">
                            <span>Our Events</span>
                            <h2>Upcoming Events</h2>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-4 col-md-6 col-sm-12 mb-3">
                        <div class="event-card">
                            <div class="event-img">
                                <img src="~/assets/images/event/img-1.jpg" alt="">
                                <div class="date-badge">
                                    <span>25</span>
                                    <span>NOV</span>
                                </div>
                            </div>
                            <div class="event-content shadow-sm">
                                <div class="event-title">
                                    <h2>Education for All Children</h2>
                                </div>
                                <div class="event-date-loc d-flex mb-4">
                                    <div class="event-date me-3">
                                        <i class="fa-solid fa-clock"></i>
                                        <span>8.00-5.00</span>
                                    </div>
                                    <div class="event-loc me-3">
                                        <i class="fa-solid fa-location-dot"></i>
                                        <span>Newyork City</span>
                                    </div>
                                </div>
                                <div class="event-info mb-2 text-muted">
                                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sapiente, velit!</p>
                                </div>
                                <div class="learn-more-btn">
                                    <a href="#" class="btn text-warning ps-0">Learn More..</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 col-sm-12 mb-3">
                        <div class="event-card">
                            <div class="event-img">
                                <img src="~/assets/images/event/img-1.jpg" alt="">
                                <div class="date-badge">
                                    <span>25</span>
                                    <span>NOV</span>
                                </div>
                            </div>
                            <div class="event-content shadow-sm">
                                <div class="event-title">
                                    <h2>Education for All Children</h2>
                                </div>
                                <div class="event-date-loc d-flex mb-4">
                                    <div class="event-date me-3">
                                        <i class="fa-solid fa-clock"></i>
                                        <span>8.00-5.00</span>
                                    </div>
                                    <div class="event-loc me-3">
                                        <i class="fa-solid fa-location-dot"></i>
                                        <span>Newyork City</span>
                                    </div>
                                </div>
                                <div class="event-info mb-2 text-muted">
                                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sapiente, velit!</p>
                                </div>
                                <div class="learn-more-btn">
                                    <a href="#" class="btn text-warning ps-0">Learn More..</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 col-sm-12 mb-3">
                        <div class="event-card">
                            <div class="event-img">
                                <img src="~/assets/images/event/img-1.jpg" alt="">
                                <div class="date-badge">
                                    <span>25</span>
                                    <span>NOV</span>
                                </div>
                            </div>
                            <div class="event-content shadow-sm">
                                <div class="event-title">
                                    <h2>Education for All Children</h2>
                                </div>
                                <div class="event-date-loc d-flex mb-4">
                                    <div class="event-date me-3">
                                        <i class="fa-solid fa-clock"></i>
                                        <span>8.00-5.00</span>
                                    </div>
                                    <div class="event-loc me-3">
                                        <i class="fa-solid fa-location-dot"></i>
                                        <span>Newyork City</span>
                                    </div>
                                </div>
                                <div class="event-info mb-2 text-muted">
                                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sapiente, velit!</p>
                                </div>
                                <div class="learn-more-btn">
                                    <a href="#" class="btn text-warning ps-0">Learn More..</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 col-sm-12 mb-3">
                        <div class="event-card">
                            <div class="event-img">
                                <img src="~/assets/images/event/img-1.jpg" alt="">
                                <div class="date-badge">
                                    <span>25</span>
                                    <span>NOV</span>
                                </div>
                            </div>
                            <div class="event-content shadow-sm">
                                <div class="event-title">
                                    <h2>Education for All Children</h2>
                                </div>
                                <div class="event-date-loc d-flex mb-4">
                                    <div class="event-date me-3">
                                        <i class="fa-solid fa-clock"></i>
                                        <span>8.00-5.00</span>
                                    </div>
                                    <div class="event-loc me-3">
                                        <i class="fa-solid fa-location-dot"></i>
                                        <span>Newyork City</span>
                                    </div>
                                </div>
                                <div class="event-info mb-2 text-muted">
                                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sapiente, velit!</p>
                                </div>
                                <div class="learn-more-btn">
                                    <a href="#" class="btn text-warning ps-0">Learn More..</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 col-sm-12 mb-3">
                        <div class="event-card">
                            <div class="event-img">
                                <img src="~/assets/images/event/img-1.jpg" alt="">
                                <div class="date-badge">
                                    <span>25</span>
                                    <span>NOV</span>
                                </div>
                            </div>
                            <div class="event-content shadow-sm">
                                <div class="event-title">
                                    <h2>Education for All Children</h2>
                                </div>
                                <div class="event-date-loc d-flex mb-4">
                                    <div class="event-date me-3">
                                        <i class="fa-solid fa-clock"></i>
                                        <span>8.00-5.00</span>
                                    </div>
                                    <div class="event-loc me-3">
                                        <i class="fa-solid fa-location-dot"></i>
                                        <span>Newyork City</span>
                                    </div>
                                </div>
                                <div class="event-info mb-2 text-muted">
                                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sapiente, velit!</p>
                                </div>
                                <div class="learn-more-btn">
                                    <a href="#" class="btn text-warning ps-0">Learn More..</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 col-sm-12 mb-3">
                        <div class="event-card">
                            <div class="event-img">
                                <img src="~/assets/images/event/img-1.jpg" alt="">
                                <div class="date-badge">
                                    <span>25</span>
                                    <span>NOV</span>
                                </div>
                            </div>
                            <div class="event-content shadow-sm">
                                <div class="event-title">
                                    <h2>Education for All Children</h2>
                                </div>
                                <div class="event-date-loc d-flex mb-4">
                                    <div class="event-date me-3">
                                        <i class="fa-solid fa-clock"></i>
                                        <span>8.00-5.00</span>
                                    </div>
                                    <div class="event-loc me-3">
                                        <i class="fa-solid fa-location-dot"></i>
                                        <span>Newyork City</span>
                                    </div>
                                </div>
                                <div class="event-info mb-2 text-muted">
                                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sapiente, velit!</p>
                                </div>
                                <div class="learn-more-btn">
                                    <a href="#" class="btn text-warning ps-0">Learn More..</a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="pagination-wrapper mb-3">
                        <ul class="pg-pagination">
                            <li>
                                <a href=""><i class="fa-solid fa-angle-left"></i></a>
                            </li>
                            <li class="active">
                                <a href="">1</a>
                            </li>
                            <li>
                                <a href="">2</a>
                            </li>
                            <li>
                                <a href="">3</a>
                            </li>
                            <li>
                                <a href="">4</a>
                            </li>
                            <li>
                                <a href=""><i class="fa-solid fa-angle-right"></i></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </section>
        <!-- End of Events -->
    </main>