@model Mission
@{
    ViewData["Title"] = "Create";
}

<div class="content">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12">
                <form asp-action="edit" method="post" enctype="multipart/form-data">
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label asp-for="Title">Title</label>
                            <input asp-for="Title" class="form-control" placeholder="Title">
                            <span class="text-danger" asp-validation-for="Title"></span>
                        </div>
                         <div class="form-group col-md-6">
                            <label asp-for="Desc">Desc</label>
                            <input asp-for="Desc" class="form-control" placeholder="Title">
                            <span class="text-danger" asp-validation-for="Desc"></span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label asp-for="ImageFile">Image</label>
                        <input asp-for="ImageFile" class="form-control" placeholder="Description">
                        <span class="text-danger" asp-validation-for="ImageFile"></span>
                    </div>
                    
                    <button type="submit" class="btn btn-primary">Submit</button>
                </form>
            </div>
        </div>
    </div>
</div>

