@model Contact
@{
    ViewData["Title"] = "Index";
}


    <main>
        <!-- Start of Breadcrumb -->
        <section class="breadcrumb section-padding">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <div class="breadcrumb-wrap">
                            <h2>Contact Us</h2>
                            <ul class="breadcrumb-list">
                                <li class="breadcrumb-list-item">
                                    <a href="index.html">Home</a>
                                </li>
                                <li class="breadcrumb-list-item">
                                    <a href="cause.html">Contact</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>

        </section>
        <!-- End of Breadcrumb -->

        <!-- Start of Contact Us -->
        <section id="contact-us" class="section-padding">
            <div class="container">
                <div class="row">
                    <div class="col-md-6 col-sm-12">
                        <div class="contact-us-form shadow-sm">
                            <h2>Get In Touch</h2>
                            <form asp-action="create" class="text-center">
                                <div class="row">
                                <div class="form-group">
                                    <input type="text" class="form-control border-0 border-bottom" asp-for="Subject"
                                        placeholder="Subject">
                                        <span class="text-danger" asp-validation-for="Subject"></span>
                                </div>
                                <div class="form-group">
                                    <textarea class="form-control border-0 border-bottom" rows="6" asp-for="Desciption"
                                        placeholder="Description"></textarea>
                                        <span class="text-danger" asp-validation-for="Desciption"></span>

                                </div>
                                <div class="form-btn">
                                    <button type="submit">Send Message</button>
                                </div>
                                </div>
                            </form>
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-12">
                        <div class="contact-map contact-us-map">
                            <iframe
                                src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d193595.9147703055!2d-74.11976314309273!3d40.69740344223377!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89c24fa5d33f083b%3A0xc80b8f06e177fe62!2sNew+York%2C+NY%2C+USA!5e0!3m2!1sen!2sbd!4v1547528325671"
                                allowfullscreen=""></iframe>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- End of Contact Us -->

        <!-- Start of Contact Info -->
        <section id="contact-info" class="pb-5">
            <div class="container">
                <div class="row">
                    <div class="col-lg-4 col-md-6 col-sm-12 mb-3">
                        <div class="info-item shadow-sm">
                            <h2>25 North Street,Dubai</h2>
                            <div class="info-wrap d-flex align-items-center">
                                <div class="info-icon contact-address">
                                    <i class="fa-solid fa-globe"></i>
                                </div>
                                <div class="info-text ps-3">
                                    <span>Office Address</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 col-sm-12 mb-3">
                        <div class="info-item shadow-sm">
                            <h2>info@nasarna.com</h2>
                            <div class="info-wrap d-flex align-items-center">
                                <div class="info-icon contact-mail">
                                    <i class="fa-solid fa-envelope"></i>
                                </div>
                                <div class="info-text ps-3">
                                    <span>Official Mail</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 col-sm-12 mb-3">
                        <div class="info-item shadow-sm">
                            <h2>+91 256-987-239</h2>
                            <div class="info-wrap d-flex align-items-center">
                                <div class="info-icon contact-phone">
                                    <i class="fa-solid fa-headphones-simple"></i>
                                </div>
                                <div class="info-text ps-3">
                                    <span>Official Phone</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- End of Contact Info -->

    </main>
